@font-face {
  font-family: "iconfont"; /* Project id 4310596 */
  src: 
       url('iconfont.woff2?t=1658279997622') format('woff2'),
       url('iconfont.woff?t=1720074302059') format('woff'),
       url('iconfont.ttf?t=1720074302059') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangzuoshouqi:before {
  content: "\e841";
}

.icon-zhankai:before {
  content: "\e7c4";
}

.icon-shouqi:before {
  content: "\e7c3";
}

.icon-fenpei:before {
  content: "\e65d";
}

.icon-shifang:before {
  content: "\e636";
}

.icon-lingqu:before {
  content: "\e608";
}

.icon-chehui:before {
  content: "\e611";
}

.icon-caidan:before {
  content: "\e60d";
}

