@media print {
  .tableList {

    flex: 1 0 0;
    height: 100%;
    // border: none !important;
    display: none !important;

    .orderHeader {
      width: 100%;
      display: flex;

      img {
        transform: scale(0.8);
      }

      .headerItem {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .hTitle {
          font-size: 30px;
          // font-weight: bold;
          letter-spacing: 2px;
          color: #000;
          text-align: center;
          line-height: 1.5vw;
        }

        .hTitle2 {
          font-size: 18px;
          letter-spacing: 0;
        }
      }
    }

    .parter {
      width: 100%;
      display: flex;
      border: 1px solid #000;
      box-sizing: border-box;

      .parterLeft {
        padding: 10px;
        border-right: 1px solid #000;

        p {
          font-size: 16px
        }
      }

      .parterright {
        display: flex;
        padding: 5px;
        justify-content: space-between;

        .parterright-item {
          p {
            font-size: 16px
          }

        }
      }
    }

    .lineTable {
      margin-top: 20px;

      .tableTitle {
        display: flex;
        flex-direction: row;
      }

      .tyTable {
        width: 100%;
        border: none !important;
        border-top: 1px solid #202123 !important;
        // border-right: 1px solid #202123 !important;
        color: #202123 !important;
        font-size: 3mm !important;
        // zoom: 0.973;
        border-collapse: collapse !important;
        table-layout: auto;

        tr {
          height: 22px;
          border-bottom: 1px solid #202123 !important;
          border-top: 1px solid #202123 !important;
          border-right: 1px solid #202123 !important;
        }
      }


      .total {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
}